---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="contact"
  headerTitle="contact"
  headerDescription="">


  <p class="mt-5">my email is sebastiansuciu607@gmail.com</p>
  <p class="mt-3">i made that email in like 2023. it did NOT age well. i dont even know what the 607 is meant to mean vro. feel free to email me about anything i guess. i dont really care</p>

  <p class="mt-3"><br>also my username pretty much everywhere is @sebashtioon</p>
</Layout>



