---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-shadow-ctp-surface0 max-w-50 text-4xl font-bold mb-1">
    hi, im seb
  </h1>

  <p>i like making cool stuff on the internet</p>
  <hr />
</Layout>
