---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <p class="mt-3">sorry for the crappy website i dont know web dev that well. but yeah. im seb</p>
  <p class="mt-3">as you can probably tell, im shit at web dev and much prefer game dev over this.</p>

  <p class="mt-3">idk what to put here on the home page since most of the interesing stuff is already over on the other pages (like my projects and blog and stuff). but i also kinda have to put something here because its the page that people first go to when they visit this site. so here are some cool facts about me i guess:</p>
  
  <p class="mt-3">- im a porfessional godot cooker
    <br>
    - i love skrillex <br>
    - i like making horror games <br>
    - i like the psx/ps1 and analog style <br>
    - im chronically addicted to music (were talking 15 hours a day)<br>
    - im a perfectionist<br>
    - i like running (cardio)<br>
    - im in hack club<br>
    - i love urbexing and doing risky stuff<br>
    - i live in canberra, australia<br>
  </p>

  <p class="mt-3">and, if you couldnt already tell, i hate capital letters and punctuation. if you can understand what im saying, whats the problem? btw this is not because im illiterate or anything. i just feel like stuff looks way more clean and minimal like this. instead of just the coorporate slop thats constantly being pushed out nowadays.</p>

  <p class="mt-3">anyways. thats about it from me on this page. go have a look at my projects or something</p>


</Layout>
