<header class="flex flex-row w-full border-b">
  <div>
    <h1
      class="text-shadow-ctp-surface0 max-w-50 text-4xl font-bold mb-2 font-inter"
    >
      hi, im seb
    </h1>

    <p class="mb-3">i like making cool stuff on the internet</p>
  </div>
  <div class="flex flex-row ml-auto gap-2 items-start">
    <a class="bg-ctp-surface0 px-4 py-2" href="/projects">projects</a>
    <a class="bg-ctp-surface0 px-4 py-2" href="/blog">blog</a>
    <a class="bg-ctp-surface0 px-4 py-2" href="/contact">contact</a>
  </div>
</header>
