---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="projects"
  headerTitle="projects"
  headerDescription="some stuff ive made">


  <p class="mt-5">some projects ive made:</p>
  <p class="mt-3">- im too lazy to do this now ill get it done later i promise</p>
  <p class="mt-5">but yeah i have 2 major games in the making right now and alot of unfinished ones that im never going back to sadly. ill link the projects here when i feel like it</p>
</Layout>



